.loginDiv {
  max-width: 500px;
  width: 90%;
  margin: 7rem auto;
  padding: 3rem;
  background-color: rgb(218, 240, 248);
}

.submit-btn {
  border-radius: 0;
  padding: 0.1rem 0.8rem;
}

.errorMsg {
  color: red;
  font-size: 0.8rem;
}
