.loginDiv {
  max-width: 500px;
  width: 90%;
  margin: 7rem auto;
  /* margin-top: 7rem; */
  padding: 2rem;
  background-color: rgb(218, 240, 248);
}

.button {
  border-radius: 5px;
  padding: 0.2rem 0.8rem !important;
}

.errorMsg {
  color: red;
  font-size: 0.8rem;
}
